<h1 class="titulo">Editar información del género</h1>
<form action="editarGenero" class="formulario" method="POST">
    <label>Nombre: </label>
    {% for error in errors %}
    {% if error.param == "nombre" %}
    <input class="campo-invalido" name="nombre" required="true" type="text" maxlength="20" value="{{ genero.nombre }}"><br><br>
    {% endif %}
    {% else %}
    <input class="campo-valido" name="nombre" required="true" type="text" maxlength="20" value="{{ genero.nombre }}"><br><br>
    {% endfor %}
    <button type="submit" class="btn btn-form btn-ok">Actualizar</button>
</form>
<a href="{{ genero.url }}"><button class="btn btn-form btn-err">Cancelar</button></a>

<script>
    $(function () {
        $("head link[type='text/css']").last()
            .after("<link rel='stylesheet' type='text/css' href='{{ '/stylesheets/crud.css' }}''>");
    });
</script>