<div class="sidebar">
    <h1 class="logo">SALNE</h1>
    <ul class="sidebar-list">
        <li>
            <a href="/catalogo"><button class="btn-sidebar">Inicio</button></a>
        </li>
    </ul><br><br>
    <ul class="sidebar-list">
        <li>
            <a href="/catalogo/autores"><button class="btn-sidebar">Autores</button></a>
        </li>
        <li>
            <a href="/catalogo/generos"><button class="btn-sidebar">Géneros</button></a>
        </li>
        <li>
            <a href="/catalogo/libros"><button class="btn-sidebar">Libros</button></a>
        </li>
        {% if UsuarioActual.admin %}
        <li>
            <a href="/usuarios"><button class="btn-sidebar">Usuarios</button></a>
        </li>
        {% endif %}
    </ul><br><br>
    <ul class="sidebar-list">
        {% if SesionActual.id_usuario %}
        <li>
            <a href="/usuarios/{{ SesionActual.id_usuario }}"><button class="btn-sidebar">Cuenta</button></a>
        </li>
        {% if not UsuarioActual.admin %}
        <li>
            <a href="/usuarios/{{ SesionActual.id_usuario }}/carrito"><button class="btn-sidebar">Carrito</button></a>
        </li>
        {% endif %}
        <li>
            <a href="/cerrarSesion"><button class="btn-sidebar">Cerrar Sesión</button></a>
        </li>
        {% else %}
        <li>
            <a href="/iniciarSesion"><button class="btn-sidebar">Iniciar Sesión</button></a>
        </li>
        <li>
            <a href="/usuarios/nuevoUsuario"><button class="btn-sidebar">Registrarse</button></a>
        </li>
        {% endif %}
    </ul>
</div>