<div class="sidebar-dummy">
    <ul class="sidebar-list">
        <li>
            <a href="/catalogo"><button class="btn-sidebar">Inicio</button></a>
        </li>
    </ul><br><br>
    <ul class="sidebar-list">
        <li>
            <a href="/catalogo/autores"><button class="btn-sidebar">Autores</button></a>
        </li>
        <li>
            <a href="/catalogo/generos"><button class="btn-sidebar">Géneros</button></a>
        </li>
        <li>
            <a href="/catalogo/libros"><button class="btn-sidebar">Libros</button></a>
        </li>
    </ul><br><br>
    <ul class="sidebar-list">
        <li>
            <a href="/"><button class="btn-sidebar">Salir</button></a>
        </li>
    </ul>
</div>