<div class="div-info-l">
    <h1 class="titulo">Carrito</h1>
</div>
<ul class="lista-catalogos">
    {% set carritoVacio = false %}
    {% for libro in libros %}
    <li>
        <div class="img-cont-m">
            {% if libro.formato %}
            <img src="/images/{{ libro.imagen }}" class="img-available">
            {% else %}
            <div class="img-unavailable-out">
                <p class="img-unavailable-in">Imagen no disponible</p>
            </div>
            {% endif %}
        </div>
        <div>
            <h2><a href="{{ libro.url }}">{{ libro.titulo }}</a></h2>
            <p><b><a href="{{ libro.autor.url }}">{{ libro.autor.nombre }}</a></b> - {{ libro.edicion }} - {{ libro.año }} - <a href="{{ libro.genero[0].url }}">{{ libro.genero[0].nombre }}</a></p>
        </div>
    </li>
    {% else %}
    {% set carritoVacio = true %}
    <p>Aún no se añadió ningún elemento al carrito.</p>
    {% endfor %}
    {% if not carritoVacio %}
    <a href="carrito/realizarCompra"><button class="btn btn-bottom btn-ok">Realizar Compra</button></a>
    {% endif %}
</ul>

<script>
    $(function () {
        $("head link[type='text/css']").last()
            .after("<link rel='stylesheet' type='text/css' href='{{ '/stylesheets/crud.css' }}''>");
    });
</script>