/* Contenido */
.informacion {
    list-style-type: inherit;
    padding-left: 20px;
}

.subtitulo {
    margin-bottom: 30px;
}

.titulo {
    margin-bottom: 40px;
}

/* Listas */
.lista-catalogos li {
    display: inline-table;
    height: 450px;
    margin: 20px;
    max-width: 220px;
    min-width: 220px;
    text-align: center;
}

.lista-usuarios li {
    margin: 0px;
    margin-bottom: 30px;
}

.lista-usuarios p,
.lista-usuarios h2 {
    align-self: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.item-row {
    display: flex;
    margin: 10px auto;
}

.separador {
    margin: 0px 10px;
}

/* Imágenes */
.img-available {
    border: solid 2px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: -webkit-fill-available;
}

.img-cont-m {
    display: flex;
    max-height: 300px;
    max-width: 220px;
    min-height: 300px;
    min-width: 220px;
}

.img-unavailable-in {
    color: #585858;
    margin: 0px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.img-unavailable-out {
    background-color: #efefef;
    border: solid #767676 2px;
    width: -webkit-fill-available;
}