/* Botones */
.btn {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    font: inherit;
    margin: 20px;
    outline: none;
    padding: 20px;
    width: 120px;
}

.div-info {
    display: flow-root;
    margin: 20px 0px;
}

.div-info-l {
    display: inline-flex;
    width: -webkit-fill-available;
}

.div-info ul,
.div-info-l ul {
    margin: 20px 20px 20px 0px;
}

/* Botones - Variaciones */
.btn-bottom {
    float: right;
    width: fit-content;
}

.btn-form {
    float: right;
}

.btn-top {
    margin-left: 50px;
    margin-top: 10px;
    width: fit-content;
}

/* Botones - Colores */
.btn-def {
    border-color: #767676;
    margin-left: 0px;
}

.btn-err {
    background-color: #ff5555;
    border-color: #803232;
}

.btn-inf {
    background-color: #5590ff;
    border-color: #325680;
}

.btn-ok {
    background-color: #77ff82;
    border-color: #328038;
}

/* Formularios */
.formulario {
    margin-top: 40px;
}

.formulario input,
.formulario select {
    border: solid;
    border-width: 2px;
    font: inherit;
    padding: 10px;
}

.formulario input {
    height: 20px;
    width: 79%;
}

.formulario label {
    display: inline-block;
    width: 120px;
}

.formulario select {
    width: 82%;
}

.campo-invalido,
.campo-invalido::placeholder {
    background-color: #ff8686;
    border-color: #803232;
    color: #803232;
}

.campo-valido {
    background-color: #f0f8ff;
    border-color: #a0a0a0;
}

.mensaje-error {
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}

/* Listas */
.lista-libros {
    list-style-type: inherit;
    padding: 0px 40px;
}

.lista-catalogos li {
    display: inline-flex;
    height: 120px;
}

/* Imágenes */
.img-available {
    border: solid #2e6ee0 2px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    max-width: -webkit-fill-available;
}

.img-cont {
    display: flex;
    float: right;
    height: 400px;
    margin: 20px 20px 20px auto;
    max-width: 300px;
    min-width: 300px;
}

.img-cont-m {
    display: flex;
    margin-right: 20px;
    max-width: 100px;
    min-width: 100px;
}

.img-unavailable-in {
    margin: 0px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.img-unavailable-out {
    background-color: #efefef;
    border: solid #767676 2px;
    width: -webkit-fill-available;
}