<div layout-padding>
    <div class="page-header">
        <h1 class="page-title">Detalles del usuario</h1>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="$root.goBack()">&lt; Volver</md-button>
        <md-button class="md-raised md-primary" ng-click="usuarioEditar()">Editar información</md-button>
        <md-button class="md-raised md-primary" ng-click="usuarioBorrar()">Eliminar usuario</md-button>
    </div>
    <md-content>
        <md-card class="card-large">
            <md-card-title>
                <md-card-title-text>
                    <ul>
                        <li class="data-element">
                            <p class="data-content">Nombre</p> {{ usuario.nombre }}
                        </li>
                        <li class="data-element">
                            <p class="data-content">Correo electrónico</p> {{ usuario.email }}
                        </li>
                    </ul>
                </md-card-title-text>
                <md-card-title-media>
                    <img class="img-cover img-square-medium" ng-src="{{ getImage() }}">
                </md-card-title-media>
            </md-card-title>
        </md-card>
        <md-card ng-if="!$root.usuarioSesion.admin">
            <div class="data-header">
                <p class="data-content data-title">Biblioteca</p>
                <span flex></span>
                <span class="material-icons">&#xe8b6</span>
                <md-input-container class="search-input">
                    <input ng-model="search" placeholder="Buscar...">
                </md-input-container>
            </div>
            <div class="book-showcase">
                <div ng-if="!usuario.libros.length > 0"><p>Este usuario no tiene libros en su biblioteca.</p><br></div>
                <div class="book-element" ng-repeat="libro in usuario.libros | filter: { titulo: search }">
                    <a href="#!/libros/{{ libro._id }}">
                        <img class="img-cover img-tall-small" ng-src="{{ getImage(libro) }}">
                        <p class="book-title">{{ libro.titulo }}</p>
                    </a>
                </div>
            </div>
        </md-card>
    </md-content>
</div>