<h1 class="titulo">Detalles del libro</h1>
<div class="div-info-l">
    <ul>
        <li><b>Título:</b> {{ libro.titulo }}</li>
        <li><b>Descripción:</b> {{ libro.descrip }}</li>
        <li><b>Autor:</b> <a href="{{ libro.autor.url }}">{{ libro.autor.nombre }}</a></li>
        <li><b>Edición:</b> {{ libro.edicion }}</li>
        <li><b>Año:</b> {{ libro.año }}</li>
        <li><b>Género:</b> <a href="{{ libro.genero[0].url }}">{{ libro.genero[0].nombre }}</a></li>
        <li><b>ISBN:</b> {{ libro.isbn }}</li>
    </ul>
    <div class="img-cont">
        {% if libro.formato %}
        <img src="/images/{{ libro.imagen }}" class="img-available">
        {% else %}
        <div class="img-unavailable-out">
            <p class="img-unavailable-in">Imagen no disponible</p>
        </div>
        {% endif %}
    </div>
</div>
<div>
    <a href="../libros"><button class="btn btn-def">Volver</button></a>
    {% if session.usuarioId %}
    <a href="{{ libro.url }}/borrarLibro"><button class="btn btn-bottom btn-err">Eliminar libro</button></a>
    <a href="{{ libro.url }}/editarLibro"><button class="btn btn-bottom btn-inf">Editar información</button></a>
    {% endif %}
</div>

<script>
    $(function () {
        $("head link[type='text/css']").last()
            .after("<link rel='stylesheet' type='text/css' href='{{ '/stylesheets/crud.css' }}''>");
    });
</script>